<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A_base</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Acyr</string>
  </array>
  <key>A_left_cropped</key>
  <array>
    <string>A.alt1</string>
    <string>Aacute.alt1</string>
    <string>Abreve.alt1</string>
    <string>Acircumflex.alt1</string>
    <string>Adieresis.alt1</string>
    <string>Agrave.alt1</string>
    <string>Amacron.alt1</string>
    <string>Aogonek.alt1</string>
    <string>Aring.alt1</string>
    <string>Atilde.alt1</string>
    <string>Acyr.alt1</string>
  </array>
  <key>A_right_cropped</key>
  <array>
    <string>A.alt2</string>
    <string>Aacute.alt2</string>
    <string>Abreve.alt2</string>
    <string>Acircumflex.alt2</string>
    <string>Adieresis.alt2</string>
    <string>Agrave.alt2</string>
    <string>Amacron.alt2</string>
    <string>Aogonek.alt2</string>
    <string>Aring.alt2</string>
    <string>Atilde.alt2</string>
    <string>Acyr.alt2</string>
  </array>
  <key>El_base</key>
  <array>
    <string>Elcyr</string>
    <string>Ljecyr</string>
  </array>
  <key>El_conflictor</key>
  <array>
    <string>Iocyr</string>
    <string>Becyr</string>
    <string>Vecyr</string>
    <string>Iecyr</string>
    <string>Zecyr</string>
    <string>Ocyr</string>
    <string>Hardcyr</string>
    <string>Softcyr</string>
    <string>Dzecyr</string>
    <string>Ljecyr</string>
    <string>Njecyr</string>
    <string>Yucyr</string>
    <string>Ereversedcyr</string>
    <string>Efcyr</string>
    <string>C</string>
    <string>Escyr</string>
    <string>Euro</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Eukrcyr</string>
    <string>Ccedilla</string>
  </array>
  <key>El_left_changed</key>
  <array>
    <string>Elcyr.alt1</string>
    <string>Ljecyr.alt1</string>
  </array>
  <key>M_base</key>
  <array>
    <string>M</string>
    <string>Emcyr</string>
  </array>
  <key>M_right_cropped</key>
  <array>
    <string>Emcyr.alt2</string>
    <string>M.alt2</string>
  </array>
  <key>N_base</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Ncommaaccent</string>
  </array>
  <key>Z_base</key>
  <array>
    <string>Z</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zacute</string>
  </array>
  <key>arrow_base</key>
  <array>
    <string>arrowleft</string>
    <string>arrowright</string>
  </array>
  <key>arrow_end</key>
  <array>
    <string>arrowleft.alt2</string>
    <string>arrowright.alt2</string>
  </array>
  <key>arrow_start</key>
  <array>
    <string>arrowleft.alt1</string>
    <string>arrowright.alt1</string>
  </array>
  <key>dash</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>A.alt1</string>
    <string>Aacute</string>
    <string>Aacute.alt1</string>
    <string>Abreve</string>
    <string>Abreve.alt1</string>
    <string>Acircumflex</string>
    <string>Acircumflex.alt1</string>
    <string>Acyr</string>
    <string>Acyr.alt1</string>
    <string>Adieresis</string>
    <string>Adieresis.alt1</string>
    <string>Agrave</string>
    <string>Agrave.alt1</string>
    <string>Amacron</string>
    <string>Amacron.alt1</string>
    <string>Aogonek</string>
    <string>Aogonek.alt1</string>
    <string>Aring</string>
    <string>Aring.alt1</string>
    <string>Atilde</string>
    <string>Atilde.alt1</string>
  </array>
  <key>public.kern1.B</key>
  <array>
    <string>B</string>
    <string>Becyr</string>
    <string>Hardcyr</string>
    <string>Ljecyr</string>
    <string>Ljecyr.alt1</string>
    <string>Njecyr</string>
    <string>Softcyr</string>
    <string>Vecyr</string>
  </array>
  <key>public.kern1.C1</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Escyr</string>
    <string>Eukrcyr</string>
    <string>Euro</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ereversedcyr</string>
    <string>Eth</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Ocyr</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Q</string>
    <string>Q.swsh</string>
    <string>Yucyr</string>
  </array>
  <key>public.kern1.E</key>
  <array>
    <string>AE</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Iecyr</string>
    <string>Iocyr</string>
    <string>OE</string>
  </array>
  <key>public.kern1.Efcyr</key>
  <array>
    <string>Efcyr</string>
    <string>Thorn</string>
  </array>
  <key>public.kern1.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>Hacyr</string>
    <string>K</string>
    <string>K.ss03</string>
    <string>Kacyr</string>
    <string>Kacyr.alt</string>
    <string>Kacyr.ss03</string>
    <string>Kcommaaccent</string>
    <string>Kjecyr</string>
    <string>X</string>
    <string>Zhecyr</string>
    <string>Zhecyr.ss03</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1.M</key>
  <array>
    <string>Emcyr</string>
    <string>M</string>
  </array>
  <key>public.kern1.N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1.P</key>
  <array>
    <string>Ercyr</string>
    <string>P</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>Dzecyr</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>Gjecyr</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tecyr</string>
  </array>
  <key>public.kern1.Tsecyr</key>
  <array>
    <string>Shchacyr</string>
    <string>Shchacyr.ss01</string>
    <string>Tsecyr</string>
    <string>Tsecyr.ss01</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern1.Ucyr</key>
  <array>
    <string>Ucyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
    <string>W</string>
    <string>Wcircumflex</string>
  </array>
  <key>public.kern1.Y1</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern1.Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.Zecyr</key>
  <array>
    <string>Zecyr</string>
  </array>
  <key>public.kern1.Zhecyr.ss022</key>
  <array>
    <string>Kacyr.ss02</string>
    <string>Zhecyr.ss02</string>
  </array>
  <key>public.kern1.guillemotleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.quotedblbase</key>
  <array>
    <string>comma</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.quotedblleft</key>
  <array>
    <string>asterisk</string>
    <string>quotedbl</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.A1</key>
  <array>
    <string>A</string>
    <string>A.alt2</string>
    <string>Aacute</string>
    <string>Aacute.alt2</string>
    <string>Abreve</string>
    <string>Abreve.alt2</string>
    <string>Acircumflex</string>
    <string>Acircumflex.alt2</string>
    <string>Acyr</string>
    <string>Acyr.alt2</string>
    <string>Adieresis</string>
    <string>Adieresis.alt2</string>
    <string>Agrave</string>
    <string>Agrave.alt2</string>
    <string>Amacron</string>
    <string>Amacron.alt2</string>
    <string>Aogonek</string>
    <string>Aogonek.alt2</string>
    <string>Aring</string>
    <string>Aring.alt2</string>
    <string>Atilde</string>
    <string>Atilde.alt2</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Escyr</string>
    <string>Eukrcyr</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Ocyr</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2.Checyr</key>
  <array>
    <string>Checyr</string>
  </array>
  <key>public.kern2.Efcyr1</key>
  <array>
    <string>Efcyr</string>
  </array>
  <key>public.kern2.Elcyr</key>
  <array>
    <string>Elcyr</string>
    <string>Elcyr.alt1</string>
    <string>Ljecyr</string>
    <string>Ljecyr.alt1</string>
  </array>
  <key>public.kern2.Ereversedcyr</key>
  <array>
    <string>Ereversedcyr</string>
  </array>
  <key>public.kern2.I</key>
  <array>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>Iukrcyr</string>
    <string>Yukrcyr</string>
  </array>
  <key>public.kern2.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>Jecyr</string>
  </array>
  <key>public.kern2.M1</key>
  <array>
    <string>Emcyr</string>
    <string>Emcyr.alt2</string>
    <string>M</string>
  </array>
  <key>public.kern2.N1</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern2.S1</key>
  <array>
    <string>Dzecyr</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
  </array>
  <key>public.kern2.T1</key>
  <array>
    <string>Hardcyr</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tecyr</string>
  </array>
  <key>public.kern2.U1</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern2.Ucyr1</key>
  <array>
    <string>Ucyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern2.V1</key>
  <array>
    <string>V</string>
    <string>W</string>
  </array>
  <key>public.kern2.X</key>
  <array>
    <string>Hacyr</string>
    <string>X</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern2.Yacyr</key>
  <array>
    <string>Yacyr</string>
    <string>Yacyr.alt</string>
  </array>
  <key>public.kern2.Z1</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern2.Zecyr1</key>
  <array>
    <string>Zecyr</string>
  </array>
  <key>public.kern2.Zhecyr</key>
  <array>
    <string>Zhecyr</string>
    <string>Zhecyr.alt</string>
    <string>Zhecyr.ss03</string>
  </array>
  <key>public.kern2.Zhecyr.ss021</key>
  <array>
    <string>Zhecyr.ss02</string>
  </array>
  <key>public.kern2.guillemotright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
  </array>
  <key>public.kern2.quotedblleft1</key>
  <array>
    <string>asterisk</string>
    <string>quotedbl</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesingle</string>
    <string>registered</string>
    <string>trademark</string>
  </array>
</dict>
</plist>
