<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>226</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>xhgt</key>
      <dict>
        <key>position</key>
        <integer>697</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>44</key>
      <dict>
        <key>width</key>
        <integer>44</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>141</key>
      <dict>
        <key>width</key>
        <integer>141</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>150</key>
      <dict>
        <key>width</key>
        <integer>150</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>uni0083</string>
    <string>Iocyr</string>
    <string>Acyr</string>
    <string>Becyr</string>
    <string>Vecyr</string>
    <string>Gecyr</string>
    <string>Decyr</string>
    <string>Iecyr</string>
    <string>Zhecyr</string>
    <string>Zecyr</string>
    <string>Icyr</string>
    <string>Ishortcyr</string>
    <string>Kacyr</string>
    <string>Elcyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ocyr</string>
    <string>Pecyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Tecyr</string>
    <string>Ucyr</string>
    <string>Efcyr</string>
    <string>Hacyr</string>
    <string>Tsecyr</string>
    <string>Checyr</string>
    <string>Shacyr</string>
    <string>Shchacyr</string>
    <string>Hardcyr</string>
    <string>Ylongcyr</string>
    <string>Softcyr</string>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
    <string>Yacyr</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>seven</string>
    <string>three</string>
    <string>five</string>
    <string>four</string>
    <string>six</string>
    <string>nine</string>
    <string>eight</string>
    <string>period</string>
    <string>endash</string>
    <string>semicolon</string>
    <string>comma</string>
    <string>colon</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>hyphen</string>
    <string>emdash</string>
    <string>question</string>
    <string>exclam</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>guillemotleft</string>
    <string>bar</string>
    <string>parenright</string>
    <string>numero</string>
    <string>numbersign</string>
    <string>bracketleft</string>
    <string>narrownobreakspace</string>
    <string>bracketright</string>
    <string>parenleft</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
    <string>left-round-bracket</string>
    <string>braceright</string>
    <string>braceleft</string>
    <string>backslash</string>
    <string>slash</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>plus</string>
    <string>minus</string>
    <string>equal</string>
    <string>less</string>
    <string>greater</string>
    <string>plusminus</string>
    <string>notequal</string>
    <string>multiply</string>
    <string>divide</string>
    <string>brokenbar</string>
    <string>ellipsis</string>
    <string>periodcentered</string>
    <string>bullet</string>
    <string>underscore</string>
    <string>exclamdown</string>
    <string>questiondown</string>
    <string>guilsinglright</string>
    <string>asterisk</string>
    <string>asciicircum</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>dollar</string>
    <string>Euro</string>
    <string>ruble</string>
    <string>yen</string>
    <string>section</string>
    <string>Tsecyr.ss01</string>
    <string>Shchacyr.ss01</string>
    <string>Zhecyr.ss02</string>
    <string>Kacyr.ss02</string>
    <string>Q.swsh</string>
    <string>K.ss03</string>
    <string>Zhecyr.ss03</string>
    <string>Kacyr.ss03</string>
    <string>dotaccent</string>
    <string>dieresis</string>
    <string>Udieresis</string>
    <string>Edieresis</string>
    <string>Idieresis</string>
    <string>Odieresis</string>
    <string>OE</string>
    <string>Adieresis</string>
    <string>Eth</string>
    <string>Dcroat</string>
    <string>AE</string>
    <string>acute</string>
    <string>Aacute</string>
    <string>Eacute</string>
    <string>Oacute</string>
    <string>Uacute</string>
    <string>Ydieresis</string>
    <string>Yacute</string>
    <string>grave</string>
    <string>Agrave</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Igrave</string>
    <string>Ograve</string>
    <string>Ugrave</string>
    <string>hungarumlaut</string>
    <string>ring</string>
    <string>Aring</string>
    <string>Oslash</string>
    <string>Lslash</string>
    <string>macron</string>
    <string>caron</string>
    <string>circumflex</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Icircumflex</string>
    <string>Ocircumflex</string>
    <string>Scaron</string>
    <string>Ucircumflex</string>
    <string>Zcaron</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Wcircumflex</string>
    <string>Ycircumflex</string>
    <string>Zdotaccent</string>
    <string>Zacute</string>
    <string>Ohungarumlaut</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Omacron</string>
    <string>Lacute</string>
    <string>Jcircumflex</string>
    <string>Idotaccent</string>
    <string>Hcircumflex</string>
    <string>Ccaron</string>
    <string>Dcaron</string>
    <string>Amacron</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Imacron</string>
    <string>Ldot</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Tcaron</string>
    <string>Lcaron</string>
    <string>tilde</string>
    <string>asciitilde</string>
    <string>Ntilde</string>
    <string>Atilde</string>
    <string>Thorn</string>
    <string>Otilde</string>
    <string>Utilde</string>
    <string>Itilde</string>
    <string>ampersand</string>
    <string>trademark</string>
    <string>registered</string>
    <string>breve</string>
    <string>Abreve</string>
    <string>Gbreve</string>
    <string>Ibreve</string>
    <string>Obreve</string>
    <string>Ubreve</string>
    <string>Ebreve</string>
    <string>commaaccentcomb</string>
    <string>Lcommaaccent</string>
    <string>Gcommaaccent</string>
    <string>Kcommaaccent</string>
    <string>Ncommaaccent</string>
    <string>Rcommaaccent</string>
    <string>Tbar</string>
    <string>IJ</string>
    <string>Hbar</string>
    <string>Dzecyr</string>
    <string>Gjecyr</string>
    <string>Kjecyr</string>
    <string>Ljecyr</string>
    <string>Jecyr</string>
    <string>Yukrcyr</string>
    <string>Iukrcyr</string>
    <string>Njecyr</string>
    <string>Ushortcyr</string>
    <string>kratka</string>
    <string>Eukrcyr</string>
    <string>ogonek</string>
    <string>Aogonek</string>
    <string>Eogonek</string>
    <string>Uogonek</string>
    <string>cedilla</string>
    <string>Ccedilla</string>
    <string>Iogonek</string>
    <string>Scedilla</string>
    <string>Tcedilla</string>
    <string>Geupcyr</string>
    <string>Dzhecyr</string>
    <string>minute</string>
    <string>second</string>
    <string>degree</string>
    <string>nobreakspace</string>
    <string>A.alt1</string>
    <string>Agrave.alt1</string>
    <string>Aacute.alt1</string>
    <string>Acircumflex.alt1</string>
    <string>Atilde.alt1</string>
    <string>Adieresis.alt1</string>
    <string>Aring.alt1</string>
    <string>Amacron.alt1</string>
    <string>Abreve.alt1</string>
    <string>Aogonek.alt1</string>
    <string>Acyr.alt1</string>
    <string>Acyr.alt2</string>
    <string>Acyr.alt3</string>
    <string>A.alt2</string>
    <string>Agrave.alt2</string>
    <string>Aacute.alt2</string>
    <string>Acircumflex.alt2</string>
    <string>Atilde.alt2</string>
    <string>Adieresis.alt2</string>
    <string>Aring.alt2</string>
    <string>Amacron.alt2</string>
    <string>Abreve.alt2</string>
    <string>Aogonek.alt2</string>
    <string>M.alt2</string>
    <string>Emcyr.alt2</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>arrowup</string>
    <string>arrowdown</string>
    <string>long-haf-arrow-tip</string>
    <string>arrowleft.alt1</string>
    <string>arrowleft.alt2</string>
    <string>arrowright.alt2</string>
    <string>arrowright.alt1</string>
    <string>longarrowend</string>
    <string>longarrowtip</string>
    <string>Elcyr.alt1</string>
    <string>Ljecyr.alt1</string>
    <string>Zhecyr.alt</string>
    <string>Kacyr.alt</string>
    <string>Yacyr.alt</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Tcommaaccent</string>
    <string>Scommaaccent</string>
    <string>encyr</string>
    <string>pecyr</string>
    <string>n</string>
    <string>ocyr</string>
    <string>Ucyr.alt1</string>
    <string>_corner.s_I</string>
    <string>_Zhe_half</string>
    <string>_corner.s_De</string>
    <string>softcyr</string>
    <string>CR</string>
  </array>
  <key>public.skipExportGlyphs</key>
  <array>
    <string>_corner.s_I</string>
    <string>_Zhe_half</string>
    <string>_corner.s_De</string>
  </array>
</dict>
</plist>
